*.pyc
*.pyo
.idea/
models/data/dataset/
models/data/train2014/
models/data/annotations/
models/data/tokenizer.json
models/data/preprocess_data.npy
models/data/cap_val.npy
models/data/img_name_val.npy
